body {
  background: url(greyzz.png);
  color: #333;
  font-family: 'Bitter', 'Times New Roman', serif;
  text-align: center;
}

.content {
  bottom: 0;
  height: 240px;
  margin: auto;
  position: absolute;
  top: 0;
  transition: height 500ms 300ms;
  width: 100%;
}

.content.show-results {
  height: 100%;
}

.how-much-is-caption {
  font-size: 70px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 500ms, top 500ms;
  z-index: 1;
}

.show-results .how-much-is-caption {
  opacity: 0;
  top: -70px;
}

.query-form {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #cccdc8;
  display: inline-block;
  height: 44px;
  left: 0;
  margin: auto;
  max-width: 300px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 56px;
  position: absolute;
  position: absolute;
  right: 0;
  top: 118px;
  transition: top 500ms 300ms;
  width: 70%;
  z-index: 6;
}

.show-results .query-form {
  top: 32px;
}

.placeholder-container {
  color: #aaa;
  font-size: 18px;
  height: 2500%;
  position: absolute;
  text-align: left;
  transition: -webkit-transform 300ms, transform 300ms, opacity 300ms;
}

.placeholder-container.hidden {
  opacity: 0;
}

.placeholder-container li {
  height: 4%;
  line-height: 44px;
}

.query-input {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0) !important;
  border: none;
  font-family: 'Bitter', 'Times New Roman', serif;
  font-size: 18px;
  height: 44px;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;
}

.query-button {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background: transparent;
  border-radius: 2px;
  border: none;
  bottom: 0;
  box-sizing: border-box;
  color: #838383;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  left: auto;
  line-height: 1.5;
  margin: 2px auto 2px auto;
  min-width: 26px;
  outline: none;
  padding: 0 13px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 0;
  width: 52px;
}

.query-button:enabled {
  background-color: #2A70B6;
  color: white;
}

.interpretation {
  color: #888;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  transition: opacity 500ms 600ms, top 500ms 600ms;
  z-index: 5;
}

.show-results .interpretation {
  opacity: 1;
  top: 96px;
}

.quantity {
  font-weight: bold;
  opacity: .8;
}

.is-like-caption {
  font-size: 70px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 140px;
  transition: opacity 1800ms 900ms;
  z-index: 4;
}

.show-results .is-like-caption {
  opacity: 1;
}

.fade-0,
.fade-1 {
  background: url(greyzz-fade.png);
  border: none;
  height: 80px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 500ms 1200ms, top 500ms 1200ms;
  width: 100%;
  z-index: 3;
}

.show-results .fade-0,
.show-results .fade-1 {
  opacity: 1;
}

.fade-0 {
  top: 288px;
  margin: -40px 0 0 0;
}

.show-results .fade-0 {
  top: 240px;
}

.results {
  bottom: 45px;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 0;
  position: absolute;
  right: 0;
  top: 288px;
  transition: opacity 500ms 1200ms, top 500ms 1200ms;
  z-index: 2;
}

.show-results .results {
  opacity: 1;
  top: 240px;
}

.results li {
  height: 150px;
  margin: 50px;
}

.results li:first-of-type:before,
.results li:after {
  background: linear-gradient(to left, rgba(136,136,136,0) 0%,rgba(136,136,136,1) 40%,rgba(136,136,136,1) 60%,rgba(136,136,136,0) 100%);
  bottom: -25px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}

.results li:first-of-type:before {
  bottom: auto;
  top: -25px;
}

.fade-1 {
  bottom: 45px;
  margin: 0 0 -40px 0;
}

.banner {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: #000 2px 2px 13px;
  display: none;
  height: 300px;
  margin-top: -150px;
  opacity: 1;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 99;
}

.banner .banner-text {
  bottom: 50px;
  color: white;
  left: 75px;
  position: absolute;
  right: 75px;
  text-align: center;
  text-shadow: #000 0px 3px 10px, rgba(0, 0, 0, 0.3) 0px 0px 30px;
  top: 50px;
}